{% load static %}
<!-- features icons section -->
	<div class="features-icons-section">
		<div class="features-icon-item">
			<i class="flaticon-151-banker"></i>
			<p>Kolay Satış</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-closing"></i>
			<p>Harekete Hazır</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-maps-and-flags-3"></i>
			<p>Muhteşem Yer</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-step-ladder"></i>
			<p>Havuz</p>
		</div>
		<div class="features-icon-item">
				<i class="flaticon-151-trees"></i>
			<p>30% Park</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-fader"></i>
			<p>Güneşli Yerler</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-indoor"></i>
			<p>Modern Dizayn</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-maps-and-flags-1"></i>
			<p>Park Alanı</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-transportation"></i>
			<p>Garajlı Yerler</p>
		</div>
	</div>
	<!-- features icons section end-->

	<!-- Intro section
	<section class="intro-section">
		<div class="container">
			<div class="section-title">
				<h2>our houses</h2>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="intro-img-box">
						<h4>MODERN VILLA 1</h4>
						<img src="{% static 'img/intro/1.jpg'%}" alt="">
					</div>
				</div>
				<div class="col-lg-4 align-items-end d-flex">
					<div class="intro-text-box">
						<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posu-ere iaculis leo. Sed a lectus risus. Morbi eros sapien, inter-dum ut sollicitudin eget, porttitor nec elit. Fusce dignis-sim velit sit amet ligula dapibus fringilla. Cras fermentum consequat ornare. Etiam tempus ex nec nibh eleifend, nec tempus ipsum finibus. </p>
						<a href="" class="site-btn">MORE INFO</a>
					</div>
				</div>
				<div class="col-lg-4 align-items-end d-flex order-2 order-lg-1">
					<div class="intro-text-box">
						<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posu-ere iaculis leo. Sed a lectus risus. Morbi eros sapien, inter-dum ut sollicitudin eget, porttitor nec elit. Fusce dignis-sim velit sit amet ligula dapibus fringilla. Cras fermentum consequat ornare. Etiam tempus ex nec nibh eleifend, nec tempus ipsum finibus. </p>
						<a href="" class="site-btn">MORE INFO</a>
					</div>
				</div>
				<div class="col-lg-8 order-1 order-lg-2">
					<div class="intro-img-box">
						<h4>MODERN VILLA 1</h4>
						<img src="{% static 'img/intro/2.jpg'%}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>  -->
	<!-- Intro section end-->
	
	<!-- Design section end-->

<section class="design-section">

    <div class="container" >
        <div class="section-title st-light">
            <h2>EVLERİMİZ</h2>
        </div>
    </div>


    	<div class="property-features-slider owl-carousel ">

        {% for rs in dayproducts %}
            <div class="feature-box">
            		<a  style="position:relative; z-index: 4;" href="/addtocard/{{ rs.id }}" >
			            <img src="{{rs.image.url}}" alt="">
			            <i class="flaticon-151-reading-glasses"></i>
                        <h5 align="center">{{ rs.title }}</h5>
                        <h5>Fiyat : ${{ rs.price }}</h5>
		            </a>


            </div>
        {% endfor %}
	</div>


</section>


<section class="design-section">

    <div class="container">
        <div class="section-title st-light">
            <h2>SON BAKILANLAR</h2>
        </div>
    </div>


    	<div class="property-features-slider owl-carousel ">

        {% for rs in lastproducts %}
            <div class="feature-box">
            		<a  style="position:relative; z-index: 4;" href="/addtocard/{{ rs.id }}" >
			            <img src="{{rs.image.url}}" alt="">
			            <i class="flaticon-151-reading-glasses"></i>
                        <h5 align="center">{{ rs.title }}</h5>
                        <h5>Fiyat : ${{ rs.price }}</h5>
		            </a>


            </div>
        {% endfor %}
	</div>


</section>
<section class="design-section">

    <div class="container">
        <div class="section-title st-light">
            <h2>SİZİN İÇİN SEÇTİKLERİMİZ</h2>
        </div>
    </div>


    	<div class="property-features-slider owl-carousel ">

        {% for rs in onecikan %}
            <div class="feature-box">
            		<a  style="position:relative; z-index: 4;" href="/addtocard/{{ rs.id }}" >
			            <img src="{{rs.image.url}}" alt="">
			            <i class="flaticon-151-reading-glasses"></i>
                        <h5 align="center">{{ rs.title }}</h5>
                        <h5>Fiyat : ${{ rs.price }}</h5>
		            </a>


            </div>
        {% endfor %}
	</div>


</section>




	<!-- Design section end-->
<!--
<section class="design-section">
		<div class="container">
			<div class="section-title st-light">
				<h2>SON GEZİLENLER</h2>
			</div>
		</div>
		<div class="design-slider owl-carousel">
			<a href="img/design/1.jpg'%}" class="img-popup-gallery">
				<img src="{% static 'img/design/1.jpg'%}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a href="img/design/2.jpg'%}" class="img-popup-gallery">
				<img src="{% static 'img/design/2.jpg'%}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a href="img/design/3.jpg'%}" class="img-popup-gallery">
				<img src="{% static 'img/design/3.jpg'%}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a href="img/design/2.jpg'%}" class="img-popup-gallery">
				<img src="{% static 'img/design/2.jpg'%}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="design-text text-white">
						<h4>INTERIOR </h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="design-text text-white">
						<h4>ENVIORMENT FRIENDLY</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
			</div>
		</div>
	</section>   -->
	
	<!-- Location section-->
	<section class="location-section spad">
		<div class="container">
			<div class="section-title">
				<h2>location</h2>
			</div>
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="tab-content location-tab">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
							<img src="{% static 'img/location/1.jpg'%}" alt="">
							<a href="https://www.youtube.com/watch?v=Sz_1tkcU0Co" class="play-btn"><img src="{% static 'img/play-icon.png'%}" alt=""></a>
						</div>
						<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
							<img src="{% static 'img/location/2.jpg'%}" alt="">
							<a href="https://www.youtube.com/watch?v=7JTHzDiJ2NA" class="play-btn"><img src="{% static 'img/play-icon.png'%}" alt=""></a>
						</div>
						<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
							<img src="{% static 'img/location/3.jpg'%}" alt="">
							<a href="https://www.youtube.com/watch?v=g3tB7aFoyjY" class="play-btn"><img src="{% static 'img/play-icon.png'%}" alt=""></a>
						</div>
						<div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
							<img src="{% static 'img/location/4.jpg'%}" alt="">
							<a href="youtube.com/watch?v=slJrBtarjgo" class="play-btn"><img src="{% static 'img/play-icon.png'%}" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<ul class="nav nav-tabs location-tab-nav" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
								<img src="{% static 'img/location/thumb-1.jpg'%}" alt="">
								<h5>Surroundings</h5>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
								<img src="{% static 'img/location/thumb-2.jpg'%}" alt="">
								<h5>Interior Design</h5>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
								<img src="{% static 'img/location/thumb-3.jpg'%}" alt="">
								<h5>Comunity Pool</h5>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">
								<img src="{% static 'img/location/thumb-4.jpg'%}" alt="">
								<h5>Views</h5>
							</a>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</section>
	<!-- Location section end-->

	<!-- Features section -->
	<section class="features-section">
		<div class="container">
			<div class="section-title">
				<h2>features</h2>
			</div>
		</div>
		<div class="features-slider owl-carousel">
			<div class="feature-box">
				<i class="flaticon-151-banker"></i>
				<h5>ECO-FRIENDLY HOMES</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-security-system"></i>
				<h5>SECURE AREA</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-maps-and-flags-1"></i>
				<h5>FREE PARKING</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-step-ladder"></i>
				<h5>COMUNITY POOL</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-real-estate-6"></i>
				<h5>BEST DEALS</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</div>		
		</div>
	</section>
	<!-- Features section end-->

	<!-- Call to action section -->
	<section class="call-to-action-section set-bg" data-setbg="{% static 'img/cta-bg.jpg' %}">
		<div class="container text-white text-center">
			<h2>Ask our top consultants for an personalized offer today. </h2>
			<button class="site-btn sb-light sb-big">CALL 800-1-5141</button>
		</div>
	</section>
	<!-- Call to action section end-->