{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ emlak.title}} - Emlaklar {% endblock %}
{% block keywords %} {{ emlak.keywords }}{% endblock %}
{% block description %} {{ emlak.description }} {% endblock %}


{%  block head %}
    <link href='{{ setting.icon.url }}' rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yildizlar.css' %}">     <!--Yıldız Puan verme için -->
{% endblock %}

{% block content %}
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg'  %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-top-text text-white">
						<h2>ŞAHİN EMLAKÇILIK -Emlaklar</h2>

						<h7>Birbirinden Güzel Evlerimiz Karşınızda </h7>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
				<div class="hero-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-youtube-play"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</div>
        </div>
	</section>
    <div  id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Anasayfa  </a> </li>
            <li class="active"> /Emlaklar/ </li>
            <li><a href="/category/{{ emlak.category_id }}/{{ emlak.slug }}">{{ emlak.category }} </a> </li>
            <li class="active">/{{ emlak.title }}</li>
        </ul>
    </div>
    </div>



    <section class="property-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="property-details">
                        <h2>{{ emlak.title }}</h2>
                        <div class="property-info">
                            <h6>Metre Kare</h6>
                            <div class="pi-icon">
                                <i class="flaticon-151-plans"></i>
                                <span> {{ emlak.square }} </span>
                            </div>
                        </div>
                        <div class="property-info">
                            <h6>Salon</h6>
                            <div class="pi-icon">
                                <i class="flaticon-151-sit-down"></i>
                                <span> {{ emlak.salon }} </span>
                            </div>
                        </div>

                        <div class="property-info">
                            <h6>Yatak Odası</h6>
                            <div class="pi-icon">
                                <i class="flaticon-151-beds"></i>
                                <span>{{ emlak.yatakOda }}</span>
                            </div>
                        </div>
                        <div class="property-info">
                            <h6>Banyo</h6>
                            <div class="pi-icon">
                                 <i class="flaticon-151-relax"></i>
                                 <span>{{ emlak.banyo }}</span>
                            </div>
                        </div>

                        <div class="property-info">
                            <h6>Garaj</h6>
                            <div class="pi-icon">
                                <i class="flaticon-151-transportation"></i>
                                <span>{{ emlak.garaj }} </span>
                            </div>
                        </div>
                        <div class="property-info">
                            <h6>Bina Yaşı</h6>
                            <div class="pi-icon">
                                <i class="flaticon-151-houses"></i>
                                <span> {{ emlak.binaYasi }} </span>
                            </div>
                        </div>

                    </div>
                    <p>{{ emlak.detail | safe }}</p>
                </div>
                <div class="col-xl-4 col-lg-5 text-lg-right text-left">
                    <div class="property-price">
                        <h2>${{ emlak.price }}</h2>
                        <p>(0544 900 42 38)</p>
                        <button class="site-btn"><a href="/">SAHİBİNİ ARA</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property details section end -->

    <!-- Property features slider -->
    <div class="property-features-slider owl-carousel">
        <a href="{{ emlak.image.url }}" class="img-popup-gallery">
            <img src="{{ emlak.image.url }}" alt="">
            <i class="flaticon-151-reading-glasses"></i>
        </a>
        {% for rs in images %}
        <a href="{{ rs.image.url }}" class="img-popup-gallery">
            <img src="{{ rs.image.url }}" alt="">
            <i class="flaticon-151-reading-glasses"></i>
        </a>
        {% endfor %}
    </div>




<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
        <h3>Yorumlar</h3><br>
            {% for rs in comments %}

                <div><a href="#"><i class="fa fa-user-o"></i><b>{{ rs.user.first_name }}</b> </a> </div>
                <div><a href="#"><i class="fa fa-clock-o blog-date"></i> {{ rs.create_at }} </a> </div>

                <div class="review-rating pull-right">
                <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                </div>


                <div><h5>{{ rs.subject }}</h5>
                        <p>{{ rs.comment }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>



    				<div class="col-md-6">
					<div style="background-color: #F3F3F3" class="contact-info-box">
						<div class="contact-info">
                                            {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"  role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
						<h5 class="contact-title">EV HAKKINDA GÖRÜSLERINIZ...</h5>
                        <p>Email Adresiniz Yayinlanmayacaktir...</p>
                            <form class="contact-form" action="/emlak/addcomment/{{ emlak.id }}" method="post">
                            {% csrf_token %}
							<div class="form-field">
                                <img src="{% static 'img/icons/subject.png' %}" alt="" >
                                <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject" />
							</div>
							<div class="form-field">
                                <img src="{% static 'img/icons/profile.png' %} " alt="" >
                                <textarea style="height: 100px" class="input" name="comment" id="id_comment" placeholder="Your Review"></textarea>
							</div>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                          </div>

                            {% if user.id is not None %}
                                <button class="site-btn">Yorumu Yolla</button>
                                {% else %}
                                <br><br>
                                <h4>Yorum Eklemek Için<a href="/login"> Login </a>Olunuz!</h4>
                            {% endif %}
                        </form>
					    </div>
                    </div>
				</div>

    </div>




        </div>

































{% endblock %}
