
{% load static %}
<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-2 col-sm-12">
					<div class="footer-widget">
						<img src="{% static 'img/log-color.png'%}" alt="">
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4">
					<div class="footer-widget">
						<h5>COMPANY</h5>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Offices</a></li>
							<li><a href="">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4">
					<div class="footer-widget">
						<h5>LEGAL</h5>
						<ul>
							<li><a href="">Documents</a></li>
							<li><a href="">How to buy a house</a></li>
							<li><a href="">Terms & Condition</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4">
					<div class="footer-widget">
						<h5>SOCIAL</h5>
						<div class="footer-social">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-youtube-play"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</footer>
	<!-- Footer section end-->

	<!--====== Javascripts & Jquery ======-->

    <!--Auto Search Jquery si ile çakıştığı için bu silindi <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>