{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{setting.company}} - Hakkımızda {% endblock %}
{% block keywords %} {{ setting.keywords  }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}


{%  block head %}
    <link href='{{ setting.icon.url }}' rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yildizlar.css' %}">     <!--Yıldız Puan verme için -->
{% endblock %}

{% block content %}
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg'  %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-top-text text-white">
						<h2>ŞAHİN EMLAKÇILIK -Hakkımızda</h2>

						<h7>Güvenin Tek Adresi Biziz! </h7>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
				<div class="hero-social"><br><br><br><br>
                    <a href="https://www.facebook.com/AliKemalSahinn"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/alikemalsahin/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/AliKemalSahinnn"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCtdM2qlDnpNr9bTKjVGEWkg/featured"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.instagram.com/ali.kemal.sahin/"><i class="fa fa-instagram"></i></a>
				</div>
        </div>
	</section>
    <div  id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Anasayfa  </a> </li>
            <li class="active"> /Hakkımızda </li>
        </ul>
    </div>
    </div>




      <section class="about-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div style="margin-top: -40px" class="about-text">
	                    {{ setting.aboutus | safe}}    <!-- settings deki detail i çektigimiz yer -->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-slider owl-carousel">
						<img src="{% static 'img/about/1.jpg' %}" alt="">
						<img src="{% static 'img/about/1.jpg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->

	<!-- Milestone section end -->
	<section class="milestone-section">
		<div class="milestone-warp">
			<div class="milestone">
				<h2>2</h2>
				<h4>Residential  Developed</h4>
			</div>
			<div class="milestone">
				<h2>167</h2>
				<h4>Homes Builded</h4>
			</div>
			<div class="milestone">
				<h2>25</h2>
				<h4>Years of Experience</h4>
			</div>
			<div class="milestone">
				<h2>0</h2>
				<h4>Complains</h4>
			</div>
			<div class="milestone">
				<h2>5</h2>
				<h4>Offices</h4>
			</div>
		</div>
	</section>
	<!-- Milestone section end -->


	<!-- Team section -->
	<section class="team-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'img/team/1.jpg' %}" alt="">
							<a href="#" class="member-link">+</a>
						</div>
						<div class="member-info">
							<h4>JANE DOE</h4>
							<h5>General Manager</h5>
							<p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Maecenas sed sollici-tudin sem.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'img/team/2.jpg' %}" alt="">
							<a href="#" class="member-link">+</a>
						</div>
						<div class="member-info">
							<h4>JANE DOE</h4>
							<h5>General Manager</h5>
							<p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Maecenas sed sollici-tudin sem.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'img/team/3.jpg' %}" alt="">
							<a href="#" class="member-link">+</a>
						</div>
						<div class="member-info">
							<h4>JANE DOE</h4>
							<h5>General Manager</h5>
							<p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Maecenas sed sollici-tudin sem.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="team-member">
						<div class="member-pic">
							<img src="{% static 'img/team/4.jpg' %}" alt="">
							<a href="#" class="member-link">+</a>
						</div>
						<div class="member-info">
							<h4>JANE DOE</h4>
							<h5>General Manager</h5>
							<p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Maecenas sed sollici-tudin sem.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section end -->

	<!-- About box text -->
	<div class="about-text-box-warp spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="design-text">
						<h4>JOIN OUR TEAM </h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Phasellus eget nibh nec nibh porta semper a nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="design-text">
						<h4>WORK REMOTE</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.  Praesent viverra non massa id condimentum. Morbi malesuada laoreet neque, id mattis neque ullamcorper eget. Vivamus aliquam tempus velit, sit amet scelerisque diam scelerisque ut. Donec venenatis dolor eu ante tincidunt varius. </p>
					</div>
				</div>
			</div>
		</div>
	</div>





{% endblock %}
