{% load static %}
<!-- Header section -->
	<header class="header-section">
		<!-- logo -->
		<a href="index.html" class="site-logo">
			<img src="{% static 'img/logo.png'%}" alt="">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="container">
			<ul class="main-menu">
				<li><a href="/">Anasayfa</a></li>
				<li><a href="/hakkimizda">Hakkımızda</a></li>
				<li><a href="property.html">Emlaklar</a></li>
				<li><a href="/referanslar">Referanslar</a></li>
				<li><a href="blog.html">Haberler</a></li>
				<li><a href="/iletisim">İletişim</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->