{% load static %}
<!-- Header section -->
	<header class="header-section">
		<!-- logo -->
		<a href="index.html" class="site-logo">
			<img src="{% static 'img/logo.png'%}" alt="">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="container">
			<ul class="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="property.html">Property</a></li>
				<li><a href="developments.html">Developments</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->