{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{setting.company}} - İletişim {% endblock %}
{% block keywords %} {{ setting.keywords  }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}


{%  block head %}
    <link href='{{ setting.icon.url }}' rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yildizlar.css' %}">     <!--Yıldız Puan verme için -->
{% endblock %}

{% block content %}
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg'  %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-top-text text-white">
						<h2>ŞAHİN EMLAKÇILIK -Emlaklar</h2>

						<h7>Birbirinden Güzel Evlerimiz Karşınızda </h7>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
				<div class="hero-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-youtube-play"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</div>
        </div>
	</section>
    <div  id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Anasayfa  </a> </li>
            <li class="active"> /İletişim</li>

        </ul>
    </div>
    </div>
<section class="contact-section">

		<div class="container">
			<div class="row">

				<div class="col-lg-7 offset-lg-7">
					<div style="background-color: #F3F3F3" class="contact-info-box">

                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                    {% endif %}
						<div class="contact-info">
							<div class="ci-item">
								<img src=" {% static 'img/icons/location.png' %}" class="ci-icon" alt="">
								<p>Kastamonu Yolu Demir Çelik Kampüsü, 78050</p>
							</div>
							<div class="ci-item">
								<img src="{% static 'img/icons/headphone.png' %}" class="ci-icon" alt="">
								<p>444 0 478<br>444 0 078</p>
							</div>
						</div>
						<h5 class="contact-title">Bize Ulaşın...</h5>
						<form class="contact-form" action="" method="post">

                            {% csrf_token %}

							<div class="form-field">
								<img src="{% static 'img/icons/profile.png' %} " alt="" >
								{{ form.name }}
							</div>
							<div class="form-field">
								<img src="{% static 'img/icons/envelope.png' %}" alt="" >
								{{ form.email }}
							</div>
                            <div class="form-field">
								<img src="{% static 'img/icons/subject.png' %}" alt="" >
								{{ form.subject }}
							</div>
							<div class="form-field">
								<img src="{% static 'img/icons/chat.png' %}" alt="" >
								{{ form.message }}
							</div>
							<button class="site-btn" value="SEND FORM">send</button>
						</form>
                        {{ setting.contact | safe }}
					</div>
				</div>






             <!--    <form action="" method="post" >
                    <input type="submit" value="SEND FORM">
                </form>     -->





			</div>
		</div>
		<!-- Map -->
		<div class="map">
			<iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=e.g: 41.20986995, 32.65670068008483&amp;q=Kastamonu%20Yolu%20Demir%20%C3%87elik%20Kamp%C3%BCs%C3%BC%2078050%20K%C4%B1lavuzlar%2FKarab%C3%BCk%20Merkez%2FKarab%C3%BCk%20T%C3%BCrkiye+(Karab%C3%BCk%20%C3%9Cniversitesi)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed" style="border:0"></iframe>
		</div>
	</section>
	<!-- Contact section end-->


{% endblock %}
