{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{setting.company}} - Referanslar {% endblock %}
{% block keywords %} {{ setting.keywords  }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}


{%  block head %}
    <link href='{{ setting.icon.url }}' rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yildizlar.css' %}">     <!--Yıldız Puan verme için -->
{% endblock %}

{% block content %}
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg'  %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-top-text text-white">
						<h2>ŞAHİN EMLAKÇILIK -Emlaklar</h2>

						<h7>Birbirinden Güzel Evlerimiz Karşınızda </h7>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
				<div class="hero-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-youtube-play"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</div>
        </div>
	</section>
    <div  id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Anasayfa  </a> </li>
            <li class="active"> /Referanslar </li>
        </ul>
    </div>
    </div>



    <section class="about-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-text">
	                    {{ setting.references | safe}}
					</div>
				</div>
			</div>
		</div>
	</section>









{% endblock %}
