{% load static %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-social-warp">
			<div class="hero-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-youtube-play"></i></a>
				<a href=""><i class="fa fa-instagram"></i></a>
			</div>
		</div>
		<div class="hero-slider owl-carousel owl-theme">
			<div class="hs-item set-bg" data-setbg="{% static 'img/slider/1.jpg'%}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7">
							<h2>3 Modern homes for modern thinking people. </h2>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static 'img/slider/2.jpg'%}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7">
							<h2>4 Modern homes for modern thinking people. </h2>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static 'img/slider/3.jpg'%}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7">
							<h2>6 Modern homes for modern thinking people. </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero details slider -->
		<div class="hero-nav-slider-warp">
			<div class="container">
				<div class="hero-nav-slider owl-carousel">
					<div class="hns-item">
						<h5>3 bedrooms version</h5>
						<p>Availble from March 2019</p>
						<span>$145,000</span>
					</div>
					<div class="hns-item">
						<h5>4 bedrooms version + PRIVATE POOL </h5>
						<p>Availble from March 2019</p>
						<span>$145,000</span>
					</div>
					<div class="hns-item">
						<h5>6 bedrooms version + pRIVATE POOL  </h5>
						<p>Availble from March 2019</p>
						<span>$145,000</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->