

<div class="blog-categorise">
    <h1 class="section-title">Seçenekler</h1><hr style="border-color: grey">
    <a href="/user"><i class="fa fa-user-o"></i> <b>Hesabım</b></a><br>
    <a href="/user/ilanVer"><i class="fa fa-exchange"></i> <b>İlan Ver</b></a><br>
    <a href="/user/ilanlarim"><i class="fa fa-heart-o"></i> <b>İlanlarım</b></a><br>
    <a href="/user/comments"><i class="fa fa-check"></i> <b>Yorumlarım</b></a><br>
    <a href="/logout"><i class="fa fa-unlock"></i> <b>Çıkış</b></a><br>
</div>